<h1>Home</h1>

<div class="panel panel-default">
	<div class="panel-heading">Technologies</div>
	<div class="panel-body">
		<ul>
			<li>Rails 4.1.8</li>
			<li>Ruby 2.1.4</li>
			<li>PostgreSQL 9.3</li>
			<li>Bootstrap 3.3.1</li>
		</ul>
	</div>
</div>
