<h1>Home</h1>

<div class="panel panel-default">
	<div class="panel-heading">Technologies</div>
	<div class="panel-body">
		<ul>
			<li>Rails 4.0.2</li>
			<li>Ruby 2.1.0</li>
			<li>MySQL 5.5</li>
			<li>Bootstrap 3.0.3</li>
		</ul>
	</div>
</div>
